* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  line-height: 1.6;
  letter-spacing: 1.5px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.text_sm {
  font-size: 14px;
  color: #333;
}

.text_xl,
.benefits_title,
.flow_title,
.ability_title {
  font-size: 28px;
  font-weight: 600;
  color: #333;
}

.text_xl_white,
.learn_title,
.members_title,
.study_title,
.contact_btn_lg {
  font-size: 28px;
  font-weight: 600;
  color: #fff;
}

.text_left {
  text-align: left;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1170px;
  max-width: calc(100% - 20px);
  padding: 20px 0;
  margin: 0 auto;
  font-size: 14px;
}

.header_logo {
  width: 128px;
  vertical-align: bottom;
}

.subtitle {
  display: inline-block;
  font-weight: 600;
  color: #333;
}

.contact_btn {
  padding: 11px 40px;
  color: #fff;
  text-align: center;
  background-color: #da6b64;
  border-radius: 25px;
}

.key_visual {
  position: relative;
  height: 500px;
  background: url(../images/main.jpg) no-repeat;
  background-size: cover;
}

.pos_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.catch_copy {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  text-align: center;
}

.catch_copy p {
  margin-bottom: 10px;
}

.main_logo {
  width: 317px;
  margin-bottom: 20px;
}

.title {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  text-align: center;
}

.title h1 {
  font-size: 16px;
}

.conversion {
  padding: 30px 0;
  background-color: #ebb94d;
  padding: 30px 0;
  text-align: center;
}

.get_skill {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 10px;
}

.attention {
  font-size: 18px;
  font-weight: 600;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

.contact_btn_lg {
  padding: 25px 50px;
  color: #fff;
  text-align: center;
  background-color: #da6b64;
  border-radius: 50px;
  display: block;
  max-width: 1028px;
  margin: 45px auto;
}

.period {
  font-size: 21px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 10px;
  text-align: center;
}

.sns_btn {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.twitter {
  height: 20px;
  padding: 1px 8px 1px 6px;
  margin-right: 10px;
  font-size: 11px;
  font-weight: 500;
  color: #fff;
  background-color: #1b95e0;
  border-radius: 3px;
}

.facebook {
  height: 20px;
  padding: 1px 8px 1px 6px;
  margin-right: 10px;
  font-size: 11px;
  font-weight: 500;
  color: #fff;
  background-color: #1877f2;
  border-radius: 3px;
}

.introduction {
  height: 587px;
  padding: 40px 0;
  text-align: center;
  background: url(../images/introbottom.jpg) no-repeat;
  background-size: cover;
}

.section_title {
  font-size: 24px;
  font-weight: 600;
  color: #333;
}

.braces,
.braces02 {
  position: relative;
  width: 860px;
  max-width: calc(100% - 40px);
  padding: 15px 30px;
  margin: 0 auto;
}

.braces::before,
.braces02::before,
.braces::after,
.braces02::after {
  position: absolute;
  width: 50px;
  height: 50px;
  content: "";
}

.braces::before,
.braces02::before {
  top: 0;
  left: 0;
  border-top: 4px solid #ebb94d;
  border-left: 4px solid #ebb94d;
}

.braces::after,
.braces02::after {
  right: 0;
  bottom: 0;
  border-right: 4px solid #ebb94d;
  border-bottom: 4px solid #ebb94d;
}

.howto_text {
  font-size: 20px;
  color: #333;
  padding: 40px 0;
  text-align: center;
}

.howto_text div {
  margin-bottom: 24px;
}

.howto_text div strong {
  font-weight: 700;
  background: linear-gradient(transparent 70%, #ebb94d 70%);
}

.about {
  position: relative;
  background-color: #fef5e0;
  padding: 80px 0 40px 0;
  text-align: center;
}

.circle {
  width: 80px;
  height: 80px;
  line-height: 80px;
  color: #fff;
  text-align: center;
  background-color: #ebb94d;
  border-radius: 50%;
  position: absolute;
  top: -40px;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.about_text {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  margin: 40px 0 10px 0;
}

.five_skills {
  width: 1170px;
  max-width: calc(100% - 40px);
  padding: 30px;
  margin: 30px auto;
  background-color: #fff;
  border: 2px solid #ebb94d;
  border-radius: 5px;
}

.skills_title,
.study_subtitle {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}

.skills_list {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.skills_list li {
  padding: 10px;
  text-align: center;
}

.skills_list li img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.skills_list li p {
  margin-top: 10px;
  font-size: 12px;
  color: #333;
}

.skills_list li p:last-child {
  margin-top: 0;
}

.study {
  padding: 40px 0;
  text-align: center;
  background: url(../images/aboutsecondbg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.study_title {
  margin: 20px auto;
}

.study_subtitle {
  color: #fff;
}

.colored_strong {
  font-size: 20px;
  font-weight: 600;
  color: #ebb94d;
}

.step_wrapper {
  width: 1170px;
  margin: 30px auto 0;
}

.step_list {
  display: flex;
  justify-content: center;
}

.step_list li {
  width: 32%;
  padding: 30px 30px 20px;
  font-weight: 600;
  background-color: #fff;
  border-radius: 5px;
}

.step_list li p:nth-of-type(1) {
  margin-bottom: 15px;
  font-size: 14px;
}

.step_list li p:nth-of-type(2) {
  margin-bottom: 10px;
}

.step_list li:nth-of-type(2) {
  margin: 0 1.5%;
}

.step_title {
  margin-bottom: 30px;
  background-color: #ebb94d;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

.catch_copy02 {
  padding: 40px 0;
  text-align: center;
  background-color: #016ea9;
}

.catch_copy02 p {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.get_ability {
  padding: 40px 0;
  text-align: center;
}

.ability_title {
  margin: 20px auto 35px;
}

.ability_title span {
  font-size: 16px;
}

.ability_caption {
  margin-bottom: 10px;
  font-size: 20px;
  color: #333;
}

.ability_list {
  display: flex;
  justify-content: center;
  width: 860px;
  max-width: calc(100% - 40px);
  margin: 40px auto;
}

.ability_list li {
  width: 25%;
  padding: 0 15px;
}

.ability_list li img {
  width: 180px;
  height: auto;
}

.ability_caption02 {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.merits {
  padding: 40px 0;
  text-align: center;
  background-color: #fef5e0;
}

.merits_title p {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

.merits_title p:nth-of-type(2) {
  font-size: 28px;
}

.merits_wrapper {
  width: 1170px;
  margin: 40px auto 0;
}

.merits_list {
  display: flex;
  justify-content: center;
}

.merits_list li {
  width: 33.333%;
  padding: 0 15px;
}

.merits_list li img {
  width: 360px;
  height: auto;
}

.merits_list li h3,
.merits_list li p {
  margin: 8px 0;
}

.merits_item {
  font-size: 16px;
  color: #333;
}

.support {
  width: 1170px;
  max-width: calc(100% - 40px);
  padding: 40px 20px;
  margin: 40px auto;
  background-color: #fff;
  border: 2px solid #ebb94d;
  border-radius: 5px;
}

.support_title,
.make_team,
.after_course,
.possible,
.virtually_free,
.learn_caption {
  margin-bottom: 10px;
}

.support_title {
  font-size: 28px;
  font-weight: 600;
  color: #ebb94d;
}

.make_team {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

.evidence,
.after_course {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.members {
  padding: 40px 0;
  text-align: center;
  background: url(../images/teacherbg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.members_title {
  margin: 20px auto 10px;
}

.start_members {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 10px;
}

.members_list {
  display: flex;
  justify-content: center;
  max-width: 1170px;
  padding-top: calc(163px + 40px);
  margin: 0 auto;
}

.members_list li {
  position: relative;
  width: 33.333%;
  padding: 0 15px;
}

.members_list li img {
  position: absolute;
  top: -163px;
  left: calc(50% - 198px / 2);
  width: 198px;
  height: 198px;
  border-radius: 50%;
}

.members_list li p {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
}

.members_list li:last-child .text_left p:first-child {
  margin-bottom: 20px;
}

.solid_border {
  min-height: 391px;
  padding: 40px;
  border: 3px solid #fff;
}

.become_nomad {
  padding: 40px 0;
  text-align: center;
  position: relative;
  color: #fff;
  background-color: #ebb94d;
}

.become_nomad::after {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -25px;
  content: " ";
  border: 25px solid transparent;
  border-top-color: #ebb94d;
}

.circle02 {
  width: 80px;
  height: 80px;
  line-height: 80px;
  color: #ebb94d;
  text-align: center;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 auto;
}

.braces02::before {
  border-top: 4px solid #fff;
  border-left: 4px solid #fff;
}

.braces02::after {
  border-right: 4px solid #fff;
  border-bottom: 4px solid #fff;
}

.answer {
  padding: 40px 0;
  text-align: center;
}

.evidence {
  margin-bottom: 30px;
}

.voices_list {
  width: 780px;
  padding-top: 10px;
  margin: 0 auto;
}

.voices_list li {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.voices_list li img {
  width: 239px;
  height: 239px;
  border: 3px solid #ebb94d;
}

.voices_detail {
  width: calc(100% - 239px);
  padding-left: 30px;
  margin: 15px 10px;
  font-size: 18px;
  color: #777;
  text-align: left;
}

.degree {
  margin-top: 8px;
  font-size: 15px;
  font-style: italic;
  text-decoration: underline;
}

.learn {
  padding: 40px 0;
  text-align: center;
  background: url(../images/classbg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.learn_title {
  margin: 20px auto 10px;
}

.learn_caption {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

.course {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 780px;
  padding: 40px 0;
  margin: 0 auto;
}

dl {
  width: 50%;
  background-color: #fff;
  border: 2px solid #016ea9;
  border-radius: 5px;
}

dl:first-child {
  margin-right: 30px;
}

dl dt {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #016ea9;
}

dl dd {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  padding: 10px;
  border-bottom: 1px dotted #e5e5e5;
}

.flow {
  padding: 40px 0;
  text-align: center;
}

.flow_title {
  margin: 20px auto 10;
}

.flow_image {
  max-width: 100%;
  margin: 40px auto;
}

.flow_list li {
  display: flex;
  align-items: center;
  width: 1170px;
  max-width: calc(100% - 40px);
  padding: 10px 35px;
  margin: 0 auto;
  color: #333;
  background-color: #fef5e0;
  border-radius: 10px;
}

.flow_list li:nth-of-type(2n) {
  padding: 0;
  background-color: transparent;
}

.flow_list li:nth-of-type(2n) img {
  display: block;
  margin: 0 auto;
}

.flow_icon {
  flex-shrink: 0;
  width: 200px;
  padding: 20px;
}

.flow_icon h3 {
  font-size: 18px;
}

.flow_detail p {
  margin: 20px 0;
  font-size: 14px;
  text-align: left;
}

.flow_detail .bold {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.bangkok {
  padding: 80px 80px;
  background: url(../images/bangkokbg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.bangkok_title {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 20px;
  letter-spacing: 3px;
}

.why_bangkok {
  margin-bottom: 20px;
  font-size: 14px;
  color: #fff;
}

.reasons {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

.reasons li {
  margin-bottom: 10px;
}

.reasons li:last-child {
  margin-bottom: 20px;
}

.bangkok_caption {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 10px;
}

.benefits {
  padding: 40px 0;
  text-align: center;
  background-color: #f7c23c;
}

.benefits_title {
  margin: 20px auto 40px;
}

.permanent {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}

.permanent span {
  color: #fff;
}

.solid_border02_bg {
  position: relative;
  bottom: -58px;
  width: 45%;
  margin: 0 auto;
  background-color: #f7c23c;
}

.solid_border02 {
  width: 1170px;
  padding: 40px;
  margin: 40px auto 0;
  border: 2px solid #fff;
}

.benefits_list {
  display: flex;
  justify-content: center;
}

.benefits_list li {
  width: 33.333%;
}

.circle03 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 50%;
}

.circle03_inner {
  padding: 15px;
}

.circle03_inner h4 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 300;
  color: #ebb94d;
}

.circle03_inner p {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.maximum_value {
  padding: 40px 0;
  text-align: center;
  background: url(../images/specialdetail.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.value_detail {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 40px;
}
/*# sourceMappingURL=map/style.css.map */
