// フォントサイズの定義
$fontXs: 12px;
$fontSm: 14px;
$fontMd: 16px;
$fontLg: 18px;
$fontXl: 24px;
// footer font size
// $font_footer: 10px;
// sns icon
// $font_sns: 11px;

// 色の定義
$colorWhite: #fff;
$textBaseColor: #333;
$accentColor01: #ebb94d;
$accentColor02: #da6b64;
$accentColor03: #016ea9;
$bgColor01: #fef5e0;

// 幅の定義
$contentsWidth: 860px;
$contentsWidthLg: 1170px;
