// フォントサイズの定義
$fontXs: 12px;
$fontSm: 14px;
$fontMd: 16px;
$fontLg: 18px;
$fontXl: 24px;
// footer font size
// $font_footer: 10px;
// sns icon
// $font_sns: 11px;

// 色の定義
$colorWhite: #fff;
$textBaseColor: #333;
$accentColor01: #ebb94d;
$accentColor02: #da6b64;
$accentColor03: #016ea9;
$bgColor01: #fef5e0;

// 幅の定義
$contentsWidth: 860px;
$contentsWidthLg: 1170px;
$maxWidth: calc(100% - 40px);
$maxWidthLg: calc(100% - 20px);

@mixin contactBtn($radius: 25px, $padding: 11px 40px) {
    padding: $padding;
    color: $colorWhite;
    text-align: center;
    background-color: $accentColor02;
    border-radius: $radius;
}

@mixin positionCenter {
    // 親要素にposition: relative;を指定すること
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin titleBaseStyle($font) {
    font-size: $font;
    font-weight: 600;
    color: $textBaseColor;
    text-align: center;
}

@mixin textWhiteBold($font) {
    font-size: $font;
    font-weight: 600;
    color: $colorWhite;
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
}

@mixin snsBtn($bgcolor: #1877f2) {
    height: 20px;
    padding: 1px 8px 1px 6px;
    margin-right: 10px;
    font-size: 11px;
    font-weight: 500;
    color: $colorWhite;
    background-color: $bgcolor;
    border-radius: 3px;
}

@mixin circle($bgcolor, $color) {
    position: absolute;
    top: -40px;
    right: 0;
    left: 0;
    width: 80px;
    height: 80px;
    margin: auto;
    line-height: 80px;
    color: $color;
    text-align: center;
    background-color: $bgcolor;
    border-radius: 50%;
}

@mixin borderArea($padding, $margin) {
    width: $contentsWidthLg;
    max-width: $maxWidth;
    padding: $padding;
    margin: $margin;
    background-color: $colorWhite;
    border: 2px solid $accentColor01;
    border-radius: 5px;
}
