@import "settings";

.u_mb_sm {
    margin-bottom: 10px;
}

.u_mb_md {
    margin-bottom: 20px;
}

.u_mb_lg {
    margin-bottom: 30px;
}

.u_mb_xl {
    margin-bottom: 40px;
}

.u_m20_at_10 {
    margin: 20px auto 10px;
}

.u_m20_at {
    margin: 20px auto;
}
