@charset "utf-8";
@import "reset";
@import "settings";

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: $contentsWidthLg;
    max-width: $maxWidthLg;
    padding: 20px 0;
    margin: 0 auto;
    font-size: $fontSm;
}

.header_logo {
    width: 128px;
    vertical-align: bottom;
}

.subtitle {
    display: inline-block;
    font-weight: 600;
}

.contact_btn {
    @include contactBtn();
}

.key_visual {
    position: relative;
    height: 500px;
    background: url(../images/main.jpg) no-repeat;
    background-size: cover;
}

.pos_center {
    @include positionCenter;
}

.catch_copy {
    @include titleBaseStyle($fontXl);
    p {
        margin-bottom: 10px;
    }
}

.main_logo {
    width: 317px;
    margin-bottom: 20px;
}

.title {
    @include titleBaseStyle($fontMd);
    h1 {
        font-size: $fontMd;
    }
}
