@charset "utf-8";
@import "reset";
@import "settings";

header {
    // flexCenterを使用する
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: $contentsWidthLg;
    max-width: $maxWidthLg;
    padding: 20px 0;
    margin: 0 auto;
    font-size: $fontSm;
}

.header_logo {
    width: 128px;
    vertical-align: bottom;
}

.subtitle {
    display: inline-block;
    font-weight: 600;
    color: $textBaseColor;
}

.contact_btn {
    @include contactBtn();
}

.key_visual {
    position: relative;
    height: 500px;
    background: url(../images/main.jpg) no-repeat;
    background-size: cover;
}

.pos_center {
    @include positionCenter;
}

.catch_copy {
    @include textBold($fontXl, $textBaseColor);
    text-align: center;
    p {
        margin-bottom: 10px;
    }
}

.main_logo {
    width: 317px;
    margin-bottom: 20px;
}

.title {
    @include textBold($fontMd, $textBaseColor);
    text-align: center;
    h1 {
        font-size: $fontMd;
    }
}

.conversion {
    padding: 30px 0;
    background-color: $accentColor01;
    @include wrapper(30px 0);
}

.get_skill {
    @include textBold($fontLg);
    margin-bottom: 10px;
}

.attention {
    font-size: $fontLg;
    font-weight: 600;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

.contact_btn_lg {
    @include contactBtn(50px, 25px 50px);
    @include textBold(28px);
    display: block;
    max-width: 1028px;
    margin: 45px auto;
}

.period {
    @include textBold(21px);
    margin-bottom: 10px;
    text-align: center;
}

.sns_btn {
    @include flexCenter;
    margin-bottom: 10px;
}

.twitter {
    @include snsBtn(#1b95e0);
}

.facebook {
    @include snsBtn();
}

.introduction {
    height: 587px;
    @include wrapper;
    background: url(../images/introbottom.jpg) no-repeat;
    background-size: cover;
}

.section_title {
    @include textBold($fontXl, $textBaseColor);
}

.braces {
    position: relative;
    width: $contentsWidth;
    max-width: $maxWidth;
    padding: 15px 30px;
    margin: 0 auto;
    &::before,
    &::after {
        position: absolute;
        width: 50px;
        height: 50px;
        content: "";
    }
    &::before {
        top: 0;
        left: 0;
        border-top: 4px solid $accentColor01;
        border-left: 4px solid $accentColor01;
    }
    &::after {
        right: 0;
        bottom: 0;
        border-right: 4px solid $accentColor01;
        border-bottom: 4px solid $accentColor01;
    }
}

.howto_text {
    font-size: 20px;
    color: $textBaseColor;
    @include wrapper;
    div {
        margin-bottom: 24px;
        strong {
            font-weight: 700;
            background: linear-gradient(transparent 70%, $accentColor01 70%);
        }
    }
}

.about {
    position: relative;
    background-color: $bgColor01;
    @include wrapper(80px 0 40px 0);
}

.circle {
    @include circle($accentColor01, $colorWhite);
    margin: 0 auto;
}

.about_text {
    @include textBold(20px, $textBaseColor);
    margin: 40px 0 10px 0;
}

.five_skills {
    @include borderArea(30px, 30px auto);
}

.skills_title {
    @include textBold(20px, $textBaseColor);
    margin-bottom: 10px;
}

.skills_list {
    @include flexCenter;
    align-items: baseline;
    li {
        padding: 10px;
        text-align: center;
        img {
            width: auto;
            max-width: 100%;
            height: auto;
            max-height: 100%;
        }
        p {
            margin-top: 10px;
            font-size: $fontXs;
            color: $textBaseColor;
            &:last-child {
                margin-top: 0;
            }
        }
    }
}

.study {
    @include wrapper;
    background: url(../images/aboutsecondbg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.study_title {
    @include textBold(28px);
    margin: 20px auto;
}

.study_subtitle {
    @extend .skills_title;
    color: $colorWhite;
}

.colored_strong {
    @include textBold(20px, $accentColor01);
}

.step_wrapper {
    width: $contentsWidthLg;
    margin: 30px auto 0;
}

.step_list {
    @include flexCenter;
    li {
        width: 32%;
        padding: 30px 30px 20px;
        font-weight: 600;
        background-color: $colorWhite;
        border-radius: 5px;
        p {
            &:nth-of-type(1) {
                margin-bottom: 15px;
                font-size: $fontSm;
            }
            &:nth-of-type(2) {
                margin-bottom: 10px;
            }
        }
        &:nth-of-type(2) {
            margin: 0 1.5%;
        }
    }
}

.step_title {
    margin-bottom: 30px;
    background-color: $accentColor01;
    border-radius: 5px;
    @include textBold($fontMd);
}

.catch_copy02 {
    @include wrapper;
    background-color: $accentColor03;
    p {
        @include textBold(20px);
    }
}

.get_ability {
    @include wrapper;
}

.ability_title {
    @include textBold(28px, $textBaseColor);
    margin: 20px auto 35px;
    span {
        font-size: $fontMd;
    }
}

.ability_caption {
    margin-bottom: 10px;
    font-size: 20px;
    color: $textBaseColor;
}

.ability_list {
    @include flexCenter;
    width: $contentsWidth;
    max-width: $maxWidth;
    margin: 40px auto;
    li {
        width: 25%;
        padding: 0 15px;
        img {
            width: 180px;
            height: auto;
        }
    }
}

.ability_caption02 {
    @include textBold($fontMd, $textBaseColor);
}

.merits {
    @include wrapper;
    background-color: $bgColor01;
}

.merits_title {
    p {
        @include textBold(20px, $textBaseColor);
        &:nth-of-type(2) {
            font-size: 28px;
        }
    }
}

.merits_wrapper {
    width: $contentsWidthLg;
    margin: 40px auto 0;
}

.merits_list {
    @include flexCenter;
    li {
        width: 33.333%;
        padding: 0 15px;
        img {
            width: 360px;
            height: auto;
        }
        h3,
        p {
            margin: 8px 0;
        }
    }
}

.merits_item {
    font-size: $fontMd;
    color: $textBaseColor;
}

.text_left {
    text-align: left;
}

.support {
    @include borderArea(40px 20px, 40px auto);
}

.support_title,
.make_team,
.after_course {
    margin-bottom: 10px;
}

.support_title {
    @include textBold(28px, $accentColor01);
}

.make_team {
    @include textBold(20px, $textBaseColor);
}

.after_course {
    @include textBold(16px, $textBaseColor);
}

.notes {
    font-size: $fontSm;
    color: $textBaseColor;
}
